.post-header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem 0;
  .company {
    font-size: calc(26px  + (45 - 26) * ((100vw - 300px) / (1600 - 300)));
    margin: 1rem 0;
  }
  .role {
    font-size: calc(18px  + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
    color: #daa520;
  }
  .type {
    font-size: calc(14px  + (14 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .intro {
    font-size: calc(18px  + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.5em + (2 - 1.5) * ((100vw - 300px)/(1600 - 300)));
  }
}

@media only screen and (max-width: 1024px) {
  .post-header {
    grid-template-columns: repeat(1, 1fr);
  }
}