// template styles for portfolio and journal
.footer {
  margin: 6rem auto 0 0;
  font-family: 'Montserrat';
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  .footer-left {
    border-left: 0px solid #1f1f1f;
    text-align: left;
    transition: all 0.35s ease;
    &:hover {
      border-left: 5px solid #daa520;
      padding-left: 30px;
      .desc {
        color: #daa520;
      }
    }
  }
  .footer-right {
    border-right: 0px solid #1f1f1f;
    text-align: right;
    transition: all 0.35s ease;
    &:hover {
      border-right: 5px solid #daa520;
      padding-right: 30px;
      .desc {
        color: #daa520;
      }
    }
  }
  .footer-link {
    text-decoration: none;
  }
  .subhead {
    color: #999;
    text-transform: uppercase;
    font-size: .8rem;
  }
  .desc {
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 1px;
    font-size: calc(18px  + (22 - 18) * ((100vw - 300px) / (1600 - 300)));;
  }
  .dark {
    @extend .desc;
    color: #1A1A1A;
  }
  .light {
    @extend .desc;
    color: #FFF;
  }
}