.text-block {
  ul {
    list-style: none;
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.35s ease-out;
    &:hover {
      color: #daa520;
    }
  }
}

.dark-header {
  color: #ffd700;
}

.spacer {
  margin: 300px;
}

.bar {
  width: 15%;
  height: 4px;
  background: #FFF;
  margin: 18px 0 30px;
}

@media only screen and (max-width: 768px) {
  .text-block {
    margin: 30px 0;
  }
}